<uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.message }}</uib-alert>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default" ng-show="{{ user.roleAdmin }}">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>{{ (genre.id ? 'Edit' : 'New') }} Genre</strong></h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" ng-submit="saveGenre(genre)">
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">Name</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="name" placeholder="Fantasy" ng-model="genre.name" ng-required="true">
						</div>
					</div>
	
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn {{ genre.id ? 'btn-info' : 'btn-primary' }}" ng-disabled="isProcessing">{{ (genre.id ? 'Save Updates' : 'Create New') }}</button>
							<button type="button" class="btn btn-warning" ng-disabled="isProcessing" ng-click="clearFormButton()">Clear</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="list-group">
			<a href="" class="list-group-item" ng-click="selected = -1" ng-class="{active: selected == -1}">All</a>
			<a href="" class="list-group-item" ng-click="$parent.selected = genre" ng-class="{active: selected == genre}" ng-repeat="genre in genreList">
				{{ genre.name }}
				 <span class="pull-right"" ng-show="{{ user.roleAdmin }}">
				 	<button class="btn btn-xs btn-default" ng-click="editGenre(genre.id)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-xs btn-default" confirm-popover confirm-obj="genre" confirm-func="deleteGenre">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</span>
			</a>
		</div>
	</div>
	
	<div class="col-md-9">
		<div class="page-header">
			<h1><small>Showing:</small> <strong>{{ !selected.name ? 'All' : selected.name }}</strong></h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-3" ng-repeat="book in bookList | filterByGenre: selected">
				<book data="book"></book>
			</div>
		</div>
	</div>
</div>